In [7]:
print ("Hello world")

Hello world

In [8]:
print ('''너는 뭐해 ''')

너는 뭐해

In [12]:
print ((1+2)*3)
print ((3 **3)) # 지수표현 
print ((8//2)) # 몫
print ((8%2)) # 나머지

9
27
4
0

In [13]:
print ("Hello World")

Hello World

In [14]:
print ("I don't like C language")

I don't like C language

# 변수 (Variable)

-Python에서는 Datatype의 표현은 필요 없다.

### Python의 대표 변수형 4개

In [17]:
str_data = "hello" #문자열
int_data = 1 # 정수
float_data = 1.1 # 실수
bool_data = True # Boolean 

print(str_data, int_data, float_data, bool_data)

hello 1 1.1 True

In [19]:
digit1 = 1
digit2 = 10
name = "Dave"
age= 14

In [21]:
print(digit1* digit2)

10

##### Bool Type

In [22]:
num = True

In [28]:
print(not num)
print(7>3)
print(digit1==digit2)
print(32 != 40)

False
True
False
True

In [53]:
num = 10
print ('num : %d '% num) # c타입 변수 출력
print ('num : %d num* 10 : %d'%(num,num*10))
print ('num : {}'.format(num)) # formatting
print ("num : {}, num*10 : {}".format(num,num*10))
print (f'num : {num}, num*10 : {num*10}') # F타입 formatting

num : 10
num : 10 num* 10 : 100
num : 10
num : 10, num*10 : 100
num : 10, num*10 : 100

### Small Project

In [58]:
r = 10
pi = 3.141592
print(f'지름 : {2*r} , 둘레 : {2*r*pi} , 넓이 : {2*pi*r**2} ')

지름 : 20 , 둘레 : 62.83184 , 넓이 : 628.3184

In [59]:
name = input()

hi

In [60]:
print(name)

hi

In [61]:
name =input('''what's your name ''')
print(name)

what's your name sejing
sejing