# Data Structure
- 데이터 구조 : List, Tuple, Dic, Set

## Tuple(튜플)
-데이터의 변경(추가,삭제)이 불가능한 구조
* 선언 : 변수명 =(요소)
* 함수의 return은 data type으로 사용됨

선언 및 초기화

In [5]:
data1 = (1, 2, 3)
type(data1)

tuple

In [6]:
data1[1]

2

Tuple 내부요소가 아닌 Tuple의 연산은 가능

In [11]:
data2 = (4,5,6)
data3 = data1 + data2
print(data3)

(1, 2, 3, 4, 5, 6)

In [12]:
print(data3*2)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

####  tuple의 주 사용처

In [16]:
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

2 1

#### tuple type을 사용한 간단한 swap 구현

In [20]:
x=1 
y=2
print(x,y)
x,y = y,x
print(x,y)

1 2
2 1

#### tuple type 사용을 통한 function의 다중값 반환

In [29]:
def quot_and_rem(x,y):
    quot = x//y
    rem = x%y
    return quot, rem
quot,rem = quot_and_rem(1,3)
print(quot,rem)
type(quot_and_rem(1,3))

0 1

tuple

#### list type과 tuple type간의 연동성

In [31]:
tuple_data = (1,2,3)
list_data = list(tuple_data)
type(list_data)

list

In [32]:
tuple_data2 = tuple(list_data)
type(tuple_data2)

tuple

## Dictionary(사전)
=> Key:Value 형식의 Data Structure
* 선언 : 변수명 = {요쇼} or dict()
* 초기화 : 변수명 = { key : value }

In [33]:
data_dict = dict() # {}

In [34]:
data_dict = {'한국' : 'KR', '일본':'JP'}

data CRUD

In [35]:
data_dict['미국'] = 'US'

In [36]:
print(data_dict)

{'한국': 'KR', '일본': 'JP', '미국': 'US'}

In [37]:
del data_dict['일본']

In [38]:
print(data_dict)

{'한국': 'KR', '미국': 'US'}

In [40]:
data_dict['한국'] = 'KO'
print(data_dict)

{'한국': 'KO', '미국': 'US'}

### key과 value
- Key Data : 변수명.keys()
- Value Data : 변수명.values()

In [43]:
print(data_dict.keys())
for key in data_dict.keys():
    print(key)

dict_keys(['한국', '미국'])
한국
미국

In [45]:
print(data_dict.values())
for value in data_dict.values():
    print(value)

dict_values(['KO', 'US'])
KO
US

#### 전체 데이터의 출력
- 변수명.items()
 * 요소별 list형식으로 출력된다

In [48]:
print(data_dict.items())
for item in data_dict.items():
    print(item)

dict_items([('한국', 'KO'), ('미국', 'US')])
('한국', 'KO')
('미국', 'US')

### Set(집합)
: 집합연산을 지원하는 Data tpye
- 선언 : 변수명 = set() or {요쇼}
 * dict type과 겹치는 방식이기에 주의 요망
- 순서, 중복 미포함

In [54]:
data_set = set()
data_set1 = set('apple')
type(data_set)

set

In [55]:
data_set = {'apple', 'dell','samsung','lg'}
data_set2 = set({'logitech','razer','zowie'})
print(data_set)

{'samsung', 'lg', 'apple', 'dell'}

In [56]:
print(data_set2)

{'zowie', 'logitech', 'razer'}

In [58]:
for data in data_set2:
    print(data)

zowie
logitech
razer

In [59]:
'zenics' in data_set2 # 데이터 포함 여부 반환

False

set의 집합연산

In [62]:
data1 = {'apple','samsung','lg'}
data2 = {'samsung','lg','xaiomi'}

In [65]:
print(data1 & data2) # 교집합
print(data1 | data2) # 합집합
print(data1 - data2) # 차집합
print(data1 ^ data2)

{'samsung', 'lg'}
{'xaiomi', 'samsung', 'lg', 'apple'}
{'apple'}
{'xaiomi', 'apple'}